* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background-color: black;
 }

/* navbar */

.navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 1rem;
    background-color: black;
    
}

.navbar-brand {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.navbar-links {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
}

.navbar-link {
    color: #c1066f;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
}
 
.icon {
    width: 100px;
    height: 100px;
    display: block;
    margin:0 auto;
    margin-left: 40px;
}



/* footer */

footer div p {
    text-align: center;
    color: #c1066f;
    
}

/* Texto */

.introduccion {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:17px;
}

/* imagenes */

.espacio {
    padding: 3rem;
}
/* tablet */

@media screen and (min-width: 600px) {

    /* navbar */

    .navbar {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
    }
   
    .navbar-links {
        display: flex; 
        gap: 1rem; 
        padding: 0; 
    }

    .navbar-link {
        margin: 0 0.5rem; 
    }
}